<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Componentes Básicos</title>

    <script src="../vue.js"></script>
    <script src="single/component-single.js"></script>
</head>
<body>
    <div id="app">
        <saludo></saludo>
        <contador></contador>
        <!--Al duplicar un componente se crea una nueva instancia separada de la anterior-->
        <contador></contador>
    </div>

    <script>
        Vue.component('saludo', {
            /* 
                Dentro del javascript puedo utilizar ''  para introducir texto en una línea,
                ECMA 6 permite utilizar también `` para introducir texto de múltiples líneas.

                En Vue cuándo esto se utiliza en un componente todo el código html 
                debe estar incluido en algún contenedor
            */
            template: /*html*/`
                <div>
                    <h1>{{saludo}}</h1>
                    <h3>Hola, soy un texto</h3>
                </div>
            `,
            data(){
                return {
                    saludo: 'Hola desde Vue'
                }
            }
        });

        new Vue ({
            el: '#app'
        });
    </script>
</body>
</html>